@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Primary font */
    --primary-font: 'Poppins', sans-serif;

    /* Light Mode */
    --primary-bg-color: #fff;
    --primary-text-color: #22272b;
    --secondary-color: #9da1a5;
    --btn-bg-color: #42a5f5;
    --cta-hover-color: #2f9bf4;
    --btn-bg-light: #eeeeee;
    --glass-color: rgba(255, 255, 255, 0.4);


    /* Dark mode */
    --dark-primary-bg-color: hsl(207, 40%, 8%);
    --dark-primary-text-color: hsl(207, 12%, 95%);
    --dark-secondary-color: hsl(207, 12%, 75%);
    --dark-btn-bg-color: #1e88e5;
    --dark-cta-hover-color: #0d5e8c;
    --dark-btn-bg-light: hsl(207, 24%, 12%);
    --dark-glass-color: rgba(0, 0, 0, 0.5);

}

.dark-theme {
    --primary-bg-color: var(--dark-primary-bg-color);
    --primary-text-color: var(--dark-primary-text-color);
    --secondary-color: var(--dark-secondary-color);
    --btn-bg-color: var(--dark-btn-bg-color);
    --cta-hover-color: var(--dark-cta-hover-color);
    --btn-bg-light: var(--dark-btn-bg-light);
    --glass-color: var(--dark-glass-color);
}

body {
    background-color: var(--primary-bg-color);
    background-image: url('imgs/background-blur.png');
}

.glass {
    background-color: var(--glass-color);
    margin: 0px;
    color: var(--primary-text-color);
    font-family: var(--primary-font);
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: 0px 8px 24px #00000033;
}

header {
    margin-top: 10px;
}

.theme-btn {
    position: relative;
    left: 136px;
}

h1, h2, h3, p {
    margin: 0px;
    cursor: default;
}

header,
.perfil-section,
article,
footer,
.logo-container,
.experience,
.cta,
.portfolio-skills,
.btn-bg,
.backend,
.frontend,
.side,
.skills {
    display: flex;
}

.perfil-section, .backend, .frontend, .side, .skills {
    flex-direction: column;
}

.perfil-section, .btn-bg, .backend, .frontend, .side, .skills {
    align-items: center;
}

.perfil-section, .experience, .wrapper {
    text-align: center;
}

.theme-btn, .logo-container a {
    height: 24px;
}

.theme-btn {
    font-size: 24px;
}

.logo-container i, .logo-container a {
    font-size: 28px;
    text-decoration: none;
    color: var(--primary-text-color);
}

article, .perfil-section, .logo-container, .backend, .frontend, .side, .skills {
    gap: 16px;
}

.perfil-pic {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.perfil-pic img, .wrapper img {
    width: 100%;
}

.profile_border {
    border: 3.5px solid #45c4ff;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 0.75rem;
}

.perfil-section h1, h2 {
    font-weight: 400;
}

.profile-role {
    color: var(--secondary-color);
}

.perfil-section h2 {
    font-size: 16px;
    margin: -10px 0px 8px 0px;
}

footer, header, .logo-container, .experience, .cta, .portfolio-skills, .btn-bg {
    justify-content: center;
}

.experience {
    margin: auto;
    margin-top: 23px;
    max-width: 320px;
}

.experience strong {
    font-weight: 500;
}

.experience h2 {
    width: 30%;
    font-weight: 300;
    font-size: 14.5px;
}

.cta {
    margin-top: 19px;
}

.cta {
    gap: 32px;
}

.btn-bg {
    gap: 8px;
    padding: 0px 7px 0px 7px;
}

.btn, .btn-2, .btn-bg {
    border-radius: 11px;
    border: none;
}

.btn, .btn-2, .btn-bg, .wrapper {
    font-weight: 600;
}

.btn, .btn-2, .btn-bg, .wrapper, .project-wrapper {
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.download-btn:hover {
    background-color: var(--cta-hover-color);
}

.contact-btn {
    background-color: var(--btn-bg-light);
    color: var(--primary-text-color);
}

.theme-btn, .download-btn:hover, .contact-btn:hover, .btn-2:hover, .wrapper:hover {
    cursor: pointer;
}

.btn:hover, .btn-2:hover, .project-wrapper:hover, .logo-container a:hover {
    transform: scale(0.98);
}

.btn:active, .btn-2:active, .project-wrapper:active, .logo-container a:active {
    transform: scale(1);
}

.contact-btn:hover,
.download-btn {
  background-color: var(--btn-bg-color);
  color: white;
}

.contact-btn:hover {
    transition: background-color 0.3s ease, color 0.3s ease;
}


.btn, .btn-2 {
    height: 48px;
}

.btn {
    width: 144px;
}

.btn-2 {
    width: 136px;
}

.download-btn {
    transition: background-color 0.3s ease;
    box-shadow: 0px 8px 24px #42a4f552;
}

.portfolio-skills {
    height: 64px;
    margin-top: 24px;
    position: relative;
}

.btn-bg, .wrapper {
    width: 320px;
}

article p, .btn-bg, .btn-2 {
    background-color: var(--btn-bg-light);
    color: var(--primary-text-color);
}

.btn-2:hover, .active-btn {
    background-color: var(--primary-bg-color);
}

.perfil-section, .backend, .frontend, .side, .skills {
    margin-top: 32px;
}

.frontend, .side {
    display: none;
}

.wrapper img {
    border-radius: 16px;
}

.frontend-skills img, .backend-skills img {
    height: 48px;
    width: 48px;
    border-radius: 0%;
}

article, .wrapper h3 {
    margin-bottom: 24px;
}

article {
    flex-wrap: wrap;
}

article p {
    border-radius: 8px;
    flex-grow: 20;
    padding: 7px 7px 0px 7px;
}

.project-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 17px;
}

.project-title, .project-type {
    color: white;
    padding-left: 15px;
}

.project-type {
    font-size: 15px;
}

.project-title {
    margin-bottom: 5px;
}

.project-description {
    position: absolute;
    width: 100%;
    height: 195.55px;
    left: 0;
    bottom: -100%;
    text-align: left;
    border-radius: 17px;
    background: linear-gradient(180deg,
                hsla(207, 24%, 40%, 0.1) 0%,
                hsla(207, 24%, 4%, 1) 95%);
    display: grid;
    align-items: flex-end;
    transition: 0.3s;
}

.project-wrapper:hover .project-description {
    bottom: 4%;
}

footer {
    margin: 24px 0px 0px 0px;
    display: block;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 12px
}

::-webkit-scrollbar {
    width: 0.6rem;
    border-radius: 0.5rem;
    background-color: #a1a9af;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #808b93;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(207, 8%, 44%);
}

@media screen and (min-width: 900px) {
    .skills, .backend, .frontend, .side {
        flex-direction: row;
        width: 720px;
    }

    .skills {
        margin: 32px auto 0;
        justify-content: center;
    }

    .backend, .frontend, .side {
        margin: 32px auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .wrapper {
        width: calc(48%);
        flex: none;
    }
}